ion-card-header div {
  margin-inline: 10px;
  display: flex;
  font-size: 0.95rem;
  gap: 20px;
}

ion-button ion-icon {
  position: absolute;
  left: 0;
}


#header-icon {
  font-size: 2rem;
  padding-inline: 20px;
}
